<div id="post_stream_post_new"></div>
<div class="post_stream_post" id="new_post_<%= post.id %>">
<div class="new_post">
<%= render :partial => '/post_stream/page/post', :locals => {:post => post, :renderer => renderer, :poster => poster, :site_node => site_node} %>
</div>
</div>
