<div id="post_stream_post_new"></div>
<div class="post_stream_post" id="post_stream_post_<%= post.id %>">
<div class="new_post">
<%= render :partial => '/post_stream/page/post', :locals => poster.get_locals %>
</div>
</div>
<% if post.post_on_facebook -%>
<script type="text/javascript">
PostStream.share('<%= jvh Configuration.domain_link(post.share_url(site_node)) %>', '<%= jvh truncate(post.body, :length => 60) %>', null);
</script>
<% end -%>
