<div id="post_stream_post_new"></div>
<div class="post_stream_post">
<div class="new_post">
<%= render :partial => '/post_stream/page/post', :locals => {:post => post, :renderer => renderer, :poster => poster} %>
</div>
</div>
