<% posts.each do |post| -%>
  <div class="post_stream_post" id="post_stream_post_<%= post.id %>">
  <%= render :partial => '/post_stream/page/post', :locals => {:post => post, :renderer => renderer, :poster => poster, :site_node => site_node} %>
  </div>
<% end -%>

