<style>
.post_stream_posts {
  font-size: 12px;
}

.post_stream_post {
  padding-bottom: 5px;
}

.post_stream_post .post img {
  display: block;
  float: left;
}

.post_stream_post .comments {
  clear: both;
  padding-top: 5px;
}

.post_stream_post .post .title, .post_stream_post .post .body, .post_stream_post .comments, .post_stream_post .comment_form {
  display: block;
  padding-left: 70px;
}

.post_stream_post .post .title {
  font-weight: bold;
  font-size: 1.1em;
}

.post_stream_post .actions {
  clear: both;
}

.post_stream_post .actions .posted_at {
  display: block;
  text-align: right;
  font-size: 0.9em;
  padding: 0 5px 2px 0;
}

.post_stream_post .actions .links {
  display: block;
  text-align: right;
  padding-right: 5px;
}

.post_stream_post .shared_content {
  padding: 10px 0 10px 70px;
  text-align: center;
}

.post_stream_post .shared_content .title {
  padding-bottom: 5px;
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
}

.post_stream_post .shared_content a {
  outline: none;
}

.post_stream_post .shared_content .post_stream_embed, .post_stream_post .shared_content .post_stream_thumbnail, .post_stream_post .shared_content .post_stream_photo {
  padding-bottom: 5px;
}

.post_stream_post .shared_content .provider_author {
  text-align: left;
  padding-right: 5px;
  font-size: 0.8em;
}

.post_stream_post .shared_content .provider_author .provider {
  float: left;
}

.post_stream_post .shared_content .provider_author .author {
  float: right;
}

.post_stream_post hr.separator {
  clear: both;
  border: none;
}

.post_stream_post .comment_form {
  padding-right: 30px;
}

.post_stream_post .comment_form textarea {
  width: 100%;
}

.post_stream_post .comment_form .submit {
  text-align: right;
}

.post_stream_post .comment_form .inactive textarea {
  height: 16px;
}

.post_stream_post .comment_form .active textarea {
  height: 50px;
}

.post_stream_post .comment_form .inactive .submit, .post_stream_post .comment_form .inactive .name {
  display: none;
}

.post_stream_post .comment_form .active .submit, .post_stream_post .comment_form .active .name {
  display: block;
}

.post_stream_post .comment img {
  display: block;
  float: left;
  padding-right: 10px;
  width: 25px;
}

.post_stream_post .comment .content {
  display: block;
}

.post_stream_post .comment .name {
  font-weight: bold;
}

.post_stream_post .comment .posted_at {
  display: block;
  font-size: 0.9em;
  padding: 0 5px 2px 0;
}

</style>
<script type="text/javascript">
PostStreamForm.pageConnectionHash = '<%= jvh page_connection_hash %>';
PostStreamForm.defaultPostText = '<%= jvh poster.options[:default_post_text] %>';
PostStreamForm.defaultCommentText = '<%= jvh poster.options[:default_comment_text] %>';
</script>

<div class="post_stream_posts">
<div id="post_stream_post_new"></div>
<% posts.each do |post| -%>
  <div class="post_stream_post">
  <%= render :partial => '/post_stream/page/post', :locals => {:post => post, :renderer => renderer, :poster => poster, :site_node => site_node} %>
  </div>
<% end -%>
</div>
