<style>
.post_stream_posts {
  font-size: 12px;
}

.post_stream_post {
  padding-bottom: 5px;
}

.post_stream_post .post img {
  display: block;
  float: left;
}

.post_stream_post .post .title, .post_stream_post .post .body {
  display: block;
  padding-left: 70px;
}

.post_stream_post .post .title {
  font-weight: bold;
  font-size: 1.1em;
}

.post_stream_post .actions {
  clear: both;
}

.post_stream_post .actions .posted_at {
  display: block;
  text-align: right;
  font-size: 0.9em;
  padding: 0 5px 2px 0;
}

.post_stream_post .actions .links {
  display: block;
  text-align: right;
  padding-right: 5px;
}

.post_stream_post .shared_content {
  padding: 10px 0 10px 70px;
  text-align: center;
}

.post_stream_post .shared_content .title {
  padding-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

.post_stream_post .shared_content a {
  outline: none;
}

.post_stream_post .shared_content .post_stream_share, .post_stream_post .shared_content .post_stream_thumbnail, .post_stream_post .shared_content .post_stream_photo {
  padding-bottom: 5px;
}

.post_stream_post .shared_content .provider_author {
  text-align: left;
  padding-right: 5px;
}

.post_stream_post .shared_content .provider_author .provider {
  float: left;
}

.post_stream_post .shared_content .provider_author .author {
  float: right;
}

.post_stream_post hr.seperator {
  clear: both;
  border: none;
}

</style>

<div class="post_stream_posts">
<% posts.each do |post| -%>
  <div class="post_stream_post">
  <%= render :partial => '/post_stream/page/post', :locals => {:post => post, :renderer => renderer, :poster => poster} %>
  </div>
<% end -%>
</div>
